ul{list-style: none outside none;padding-left: 0;margin: 0;}
.demo
{
    position: relative;
    margin: 0 auto;
    top: -154px;
    margin-bottom: -175px;
}
.demo .item{
    margin-bottom: 60px;
}
.content-slider li{
    /*background-color: #ed3020;*/
    text-align: center;
    color: #FFF;

}
.lslide img, .clone img {
    width: 100%;
    height: 140px;
}

.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}
.demo{
    width: 800px;
}
.category_cover{
    width: 100%;
    height: 100%;
}
.category_cover img{

    width: 100%;
}
.selected{
    border: 3px solid #10c8e5;
}

.desc_heading , .extra_heading{
    color: #10C8E5;
    font-family: "Raleway", Tahoma;
    margin: 20px 0;
    font-weight: 600;
}
.category_description{
    padding: 20px;
}
.desc_body{
    padding: 20px;
    line-height: 2.4em;
    font-size: 18px;
    word-break: break-all;
}
.extra_images{
    padding: 50px 20px 70px 20px;
}
.demo li img{
    opacity: 0.7;
    transition: opacity .10s ease-in-out;
    max-height: 100%;
}
.demo li img.active{
    opacity: 1;
}
.lSAction>.lSNext {
    background-position: -155px -28px
}
.lSAction>.lSPrev {
    background-position: -70px -28px
}
@media screen and (max-width: 600px){
    .desc_body{
        padding: 0px !important;
        line-height: 1.7em !important;
    }
    .desc_body *{
        font-size: 15px !important;
        word-break: break-word;
        text-align: left;
    }
    .desc_body img{
        display: inline-block !important;
    }

}
@media screen and (max-width: 800px){
    .extra_images{
        padding: 0 !important;
    }
    .extra_images img{
        margin-bottom: 30px;

    }
    .lSAction>.lSNext{
        right: 5%;
    }
    .lslide img, .clone img {
        width: 100%;
        height: 80px;
    }
    .lSSlideOuter{
        width: 100%;
        margin: 0 auto;
    }
    .lSSlideOuter .lSPager{
        display: none;
    }
    .item{
        width: 100%;
        margin: 0 auto;
    }
    .lSAction{
        position: relative;
        top: -45px;
        width: 100%;
    }
    .demo{
        top: 0px;
        width: 100% !important;
        margin: 0 auto;
        margin-bottom: 0px;
    }
}
